@model IEnumerable<ABSignV2.Image>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="flashGrid">
    @foreach (var item in Model) {

        <div class="flashcard">
            <div class="flashFront">@Html.DisplayFor(modelItem => item.Sign.SignName)</div>
            <div class="flashBack">
                @if (item.ImageBin != null) {
                    var base64 = Convert.ToBase64String(item.ImageBin);
                    var imgsrc = string.Format("data:image/jpeg; base64,{0}", base64);
                    <img src="@imgsrc" />}
            </div>
        </div>
    }
</div>