@model IEnumerable<ABSignV2.TestScore>
@using Microsoft.AspNet.Identity

<div class="container">
<h2>Activity</h2>
    <ol>
        <div class="row">
            <div class="col-4">
                @foreach (var item in Model)
                {
                    if (item.username == HttpContext.Current.User.Identity.GetUserId() || item.username == null)
                    {
                        <li>
                            <div class="progress" style="height:30px">
                                <div class="progress-bar" style="width:@ABSignV2.TestScore.GetPercent(item.Score)%">@ABSignV2.TestScore.GetPercent(item.Score)%</div>
                            </div>

                            @Html.ActionLink("Details", "Details", new { id = item.TestScoreID })
                        </li>
                    }
                }
            </div>
        </div>
    </ol>
</div>