@model IEnumerable<ABSignV2.TestScore>

<div id="topbar">ASL Quiz</div>
<div class="spacer"></div>

<form name="quizSelector">
    <select id="quizSelector" name="quizSelector">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <br><br>
    <button type="button" onclick="ChoseTest()">Submit Test</button>
</form>

<div id="navContent">

    <div id="game1"></div>
    <div id="game2"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/Scripts/controller.js"></script>
<script src="~/Scripts/jquery.js"></script>

